services:
  - type: worker
    name: dvt-backend-worker
    env: python
    plan: free
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: dvt_database
          property: connectionString
      - key: TELEGRAM_BOT_TOKEN
        value: 8506336833:AAHqTala7chpEiJJ2W1s6lSN5qgwdJpC5b8
      - key: TELEGRAM_ADMIN_ID
        value: 6561117046
      - key: ADMIN_PASSWORD
        value: Mizu123@@
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        value: 764846719658924
      - key: CLOUDINARY_API_SECRET
        value: OmdiuCF8
      - key: PORT
        value: 8000

databases:
  - name: dvt_database
    plan: free
    databaseName: dvt_database
    user: dvt_user
